@page "/login"
@layout HeadlessLayout

<PageTitle>Dima - Entrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem >
        <MudPaper Class="mud-width-full pa-8" Style="width: auto; height: auto; border-radius: 15px;">
            <div class="d-flex justify-center pb-8 pt-8">
                <img src="imgs/orbis.png"
                     alt="Dima - Controle Financeiro"
                     width="150" />
            </div>
            <MudForm @ref="_mudForm">
                <MudTextField T="string"
                              Label="Login"
                              InputType="InputType.Text"
                              Required="true"
                              RequiredError="Campo obrigatório."
                              Immediate="true"
                              @bind-Value="login"
                              Style="border-radius: 0px; padding: 5px; margin-bottom: 20px;"/>

                <MudTextField T="string"
                              Label="Senha"
                              InputType="InputType.Password"
                              Required="true"
                              RequiredError="Campo obrigatório."
                              Immediate="true"
                              @bind-Value="senha"
                              Style="border-radius: 0px; padding: 5px; margin-bottom: 20px;"/>
            </MudForm>

            <div class="d-flex justify-center pb-8 pt-8">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="@(!CanSubmit)" Color="Color.Primary">Acessar</MudButton>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

    MudForm? _mudForm;
    private string login = string.Empty;
    private string senha = string.Empty;

    // Propriedade que verifica se ambos os campos estão preenchidos
    private bool CanSubmit => !string.IsNullOrWhiteSpace(login) && !string.IsNullOrWhiteSpace(senha);

    // Função que será chamada quando o botão "Acessar" ou "Enter" forem acionados
    private void SubmitForm()
    {
        if (CanSubmit)
        {
            // Lógica para enviar o formulário ou fazer login
            Console.WriteLine("Formulário enviado com sucesso!");
        }
    }
}