@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="_isDarkMode" Theme="Configuration.Theme" />
<MudSnackbarProvider />

<MudLayout>
    <div class="background-gradient">
    <MudSwitch @bind-Value="@_isDarkMode" />
   
        <MudMainContent>
            <MudContainer>
                @Body
            </MudContainer>
        </MudMainContent>
    </div>
</MudLayout>

@code {
    private bool _isDarkMode = false;
}
